<%- include('partials/_header.ejs') -%>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('img/post-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1> <%= post.title %></h1>
            <span class="meta">Posted by
              <a href="#">Start Bootstrap</a>
              on August 24, 2019</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p><%= post.title %></p> 
           <p><%= post.detail %></p> 
            <img class="img-fluid" src="img/post-sample-image.jpg" alt="">
        </div>
      </div>
    </div>
  </article>

  <hr>

  <%- include('partials/_footer.ejs') -%>

</body>

</html>
